{{ define "html/settings.html" }}
<div class="center-x">
    <div class="flex-container settings">
        <form enctype="multipart/form-data" hx-post="/user/settings/pfp" hx-swap="innerHTML" hx-target="#pfp-form-feedback">
            <fieldset>
                <legend>Profile picture</legend>
                <label>upload file
                    <input type="file" name="pfp" accept="image/png, image/jpeg">
                </label>
                <button>set</button>
                <div id="pfp-form-feedback"></div>
            </fieldset>
        </form>
        <form hx-post="/user/settings/color" hx-swap="innerHTML" hx-target="#color-form-feedback">
            <fieldset>
                <legend>Username colors</legend>
                <label>text color
                    <input name="fg" type="color" value="#{{ .Userinfo.User_fg_color }}">
                </label>
                <label>shadow color
                    <input name="bg" type="color" value="#{{ .Userinfo.User_bg_color }}">
                </label>
                <button>set</button>
                <div id="color-form-feedback"></div>
            </fieldset>
        </form>
        <form hx-post="/user/settings/bio" hx-swap="innerHTML" hx-target="#bio-form-feedback">
            <fieldset>
                <legend>Profile bio</legend>
                <textarea name="profile-bio">{{ .Userinfo.Bio }}</textarea>
                <button>set</button>
                <div id="bio-form-feedback"></div>
            </fieldset>
        </form>
        <form hx-post="/user/settings/theme" hx-swap="innerHTML" hx-target="#theme-form-feedback">
            <fieldset>
                <legend>custom theme</legend>
                <label>Header color
                    <input name="primary-1" type="color" value="#{{ .Userinfo.Theme.Primary_text }}">
                </label>
                <label>text color
                    <input name="primary-2" type="color" value="#{{ .Userinfo.Theme.Secondary_text }}">
                </label>
                <label>background color
                    <input name="background-1" type="color" value="#{{ .Userinfo.Theme.Background }}">
                </label>
                <label>border color
                    <input name="background-2" type="color" value="#{{ .Userinfo.Theme.Border }}">
                </label>
                <button>set</button>
                <div id="theme-form-feedback"></div>
            </fieldset>
        </form>
    </div>
</div>
{{ end }}