{{ define "html/user-posts.html" }}
<div class="center-x">
<div class="flex-container post-container">
    <div class="section-header">
    <h2>{{ .Status }}</h2>
    {{ if eq .Status "Drafts" }}
    <a href="/editor">new post</a>
    {{ end }}
    <hr>
    </div>
    {{ range .Posts }}
    <div class="post-listing">
        {{ if eq .Status "draft" }}
        <h3><a href="/editor/{{ .Pid }}">{{ .Title }}</a></h3>
        {{ else }}
        <h3><a href="/section/{{ .Section }}/{{ .Pid }}/{{ .Title }}">{{ .Title }}</a></h3>
        {{ end }}
        <div class="credit">By:<a href="/user/{{ .User.Username }}"><span style="color: #{{ .User.User_fg_color }}; text-shadow: 1px 1px 5px #{{ .User.User_bg_color }};" >{{ .User.Username }}</span></a> On:{{ .Time_formatted }}</div>
    </div>
    {{ end }}
</div>
</div>
{{ end }}